@media screen and (max-width: 745px) {
  .split {
    flex-direction: column;
    height: 100% !important; }
    .split .cover {
      margin-right: 0px; }
      .split .cover h1 {
        font-size: 1.8rem; }
    .split .split1 img {
      height: 180px !important;
      width: 180px !important;
      border-radius: 90px !important; }
  .split2 {
    margin-top: 20px;
    width: 100% !important;
    padding: 0 !important; }
  .grid-2 {
    display: inline-block !important;
    width: 100% !important;
    margin-bottom: 20px !important; }
    .grid-2 .card2 {
      margin-bottom: 20px !important; }
  .grid-3 {
    display: inline-block !important;
    width: 100% !important;
    margin-bottom: 20px !important; }
    .grid-3 .card {
      margin-bottom: 20px !important; }
    .grid-3 .card2 {
      margin-bottom: 20px !important; } }

@media screen and (max-width: 500px) {
  nav .space {
    flex-direction: column; } }

@media screen and (max-width: 450px) {
  .subNav {
    font-size: 1rem; } }

@media screen and (max-width: 350px) {
  .subNav {
    font-size: 0.8rem; } }

@media screen and (max-width: 290px) {
  .subNav {
    font-size: 0.7rem; } }

body {
  margin: 0;
  background: #122533;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  color: #e2f3f5; }

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0; }

.active {
  color: #f85959;
  border-bottom: 2px solid #f85959; }

a {
  color: #e2f3f5;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.space {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container {
  width: 85%;
  margin: auto; }

.center {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center; }

.btn {
  padding: 8px;
  background: #0d1e2b;
  border-radius: 5px;
  box-sizing: border-box; }
  .btn:hover,
  .btn a:hover {
    color: #f85959; }

nav {
  padding: 10px 0px;
  box-shadow: 0 4px 5px -2px #0d1e2b; }
  nav img {
    width: 200px; }
  nav li {
    display: inline-block;
    padding: 0px 15px; }
    nav li:hover,
    nav li a:hover {
      color: #f85959; }

.subNav {
  padding: 20px 0px;
  margin: auto; }
  .subNav li {
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer; }
  .subNav ul {
    text-align: center;
    padding: 10px;
    border-radius: 8px; }

form {
  padding: 15px 0px;
  padding-top: 0px; }
  form input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
    background: #0d1e2b;
    color: #fff; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px; }

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; }

.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; }

.inline {
  max-width: 300px; }

.inline-2 {
  max-width: 700px; }
  .inline-2 .card2 {
    margin-bottom: 20px; }

.pill {
  padding: 0px 5px;
  border-radius: 8px;
  background: #08131b; }

.card {
  line-height: 0;
  padding: 5px;
  background: #0d1e2b;
  border-radius: 7px;
  padding-bottom: 0px;
  position: relative;
  cursor: pointer; }
  .card:hover h2 {
    color: #f85959;
    transition: color 0.2s ease-in; }
  .card:hover .details li {
    display: block; }
  .card img {
    width: 100%;
    height: 230px;
    border-radius: 7px; }
  .card h2 {
    line-height: 1.5rem;
    padding: 10px 0px;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .card .details {
    line-height: 1.2rem;
    position: absolute;
    width: 96%;
    height: 96%;
    box-sizing: border-box;
    padding: 10px; }
    .card .details li {
      opacity: 0;
      padding: 5px;
      height: 28px;
      width: 30px;
      background: #0d1e2b;
      border-radius: 30px;
      box-sizing: border-box;
      font-size: 0.9rem;
      margin-bottom: 5px;
      animation: expand 0.2s ease-in;
      animation-fill-mode: forwards;
      display: none; }
      .card .details li .text {
        opacity: 0;
        animation: fadeIn 0.2s ease-in;
        animation-fill-mode: forwards;
        animation-delay: 0.2s; }

.card2 {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background: #0d1e2b;
  border-radius: 8px; }
  .card2 h4 {
    margin: 0; }
  .card2 .info {
    padding-right: 5px; }
  .card2:hover i,
  .card2:hover h4 {
    color: #f85959; }

.split {
  display: flex;
  justify-content: space-between;
  height: 75vh;
  overflow: hidden;
  margin-top: 30px; }
  .split .split1 {
    height: 100%;
    flex-basis: 35%;
    text-align: center; }
    .split .split1 img {
      height: 250px;
      width: 250px;
      border-radius: 125px; }
  .split .split2 {
    flex-basis: 63%;
    padding: 0px 3px; }
    .split .split2 .scroll {
      height: 92%;
      overflow-y: scroll;
      width: 100%; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background: #071017;
  border-radius: 4px; }

.cover {
  background: #0d1e2b;
  border-radius: 8px;
  padding: 1.4rem;
  margin-right: 20px; }

@keyframes expand {
  0% {
    opacity: 0;
    width: 30px; }
  100% {
    opacity: 1;
    width: 120px; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
